<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Demo</title>
</head>

<body>
    <div class="banner">
        <div class="headerbanner">
            <div class="about">
                <div class="login">
                    <a href="#" class="aboutus">About us</a>
                    <a href="#" class="sign">Sign in</a>
                </div>
            </div>
            <div class="logo">
                <div class="logo1">
                    <img class="logohapo" src="./img/hapoERP.png" alt="logohapo">
                </div>
            </div>
            <div class="icon-text">
                <div class="icon1">
                    <img class="ic1" src="./img/icon-gift.svg" alt="icon-gift">
                    <span class="better">Better</span>
                </div>
                <div class="icon2">
                    <img class="ic1" src="./img/icon-clock.svg" alt="icon-clock">
                    <span class="faster">Faster</span>
                </div>
                <div class="icon3">
                    <img class="ic1" src="./img/icon-like.svg" alt="icon-like">
                    <span class="together">Together</span>
                </div>
            </div>
            <div class="content">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
            </div>
            <div class="button-start">
                <button class="button"> Start Now </button>
            </div>
        </div>
    </div>

</body>

</html>